html {
    scroll-behavior: smooth;
  }
*{
    font-family: 'Merriweather', serif; 
    font-family: 'Sacramento', cursive;
    font-family: 'Ubuntu', sans-serif;
  
}
#title {
    background-color: #ff4c68;
}

h1{
    font-weight: bolder;
    line-height: 1.5;
    color:white;
}

.container-fluid{
    padding:3% 15% 4% 15% ;

}

#mobile{

    transform: rotate(25deg);
    width:65%;
    height: 65%;
    position: relative;
    z-index: 1;
    left: 30%;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar{
    padding-bottom: 5rem;
}
.nav-item{
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.nav-link{
    font-size: large;
    font-family: ubountu;
    color:white;
}

.download-button{
    margin:5% 2% 5% 2%;
}
.feature-icon{
    margin: 0 auto 0 auto;
}

#features{
    margin:-12% 0 0 0;
    position:relative;
    z-index: 2;
    background: white;
    
}
.feature-box{
    text-align: center;
}
.feature-icon:hover{
    color: #ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: white;
    margin:0 0 0 0 ;
    
}
.t-text{
    font-weight: bolder;
    line-height: 1.5;
}

.dog-image{
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 1.5rem;
}
.press-logo{
    width: 10%;
    margin: 0 1rem;
}

#pricing{
    padding:100px;
}

.card{
    margin: 3% 2%;
    border: none;
   
}
@media (max-width:500px) {
    #mobile{
        transform:none;
        left: auto;
        position: static;
        
        
    }
   
}

@media (max-width:900px){
    .title-sec{
        text-align: center;
    }
    .mobile{
        position:static;
    }
    
}
#cta{
    height: 400px;
    text-align: center;
    background: #ff4c68;
    
}
.cta-sec{
    padding: 10%;
    
}
.dbtn{
    margin: 5% 1%;
}

#footer{
    text-align: center;
}
.social-icon{
    margin: 2%;
}

